/*FOOTER*/
footer {
    background-color: $negro;
    padding: 30px 0px 20px 0px;
    margin-top: 50px;

    ul {
        @extend .flex;
        list-style-type: none;

        li {
            a {
                text-decoration: none;
                color: map-get($colores, blanco)
            }
        }
    }
}