/*GALERIA*/
.galeria {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    @include forma (100%, 0%, 5%, 20px, 20px)
}

.img-galeria {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 4%;
}
.img-galeria:hover {
    width: 100%;
}
.galeria-titulo {
    grid-column: 1 / 6;
    justify-self: center;
    margin-top: 12%;
    margin-bottom: 0%;
}
