/*HEADER*/
.logo {
    width: 12%;
    margin-top: 0px;
}
.opciones-navbar{
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-buscar {
    margin-top: 10px;
}
.buscar {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-border-color: #000000;
}
