@mixin forma ($width, $margin-top, $margin-bottom, $margin-left, $margin-right) {
    width: $width;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
    margin-right: $margin-right;
}
